form > label {
    width: 150px;
}
.field-validation-error {
    color: red;
}
nav > * {
    width: fit-content;
}
nav > a {
    float: right;
    padding: 0px 10px;
}
#guests > p {
    margin-left: 20px;
} 